{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="utf-8">
    {% block meta %} {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap_4.3.1.min.css' %}">
    {% block extra_css_files %}{%  endblock %}
    {% block main_extra_css %} {% endblock %}
  </head>
  <body>

    {% block main_content %} {% endblock %}
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper_1.14.7.min.js' %}"></script>
    <script src="{% static 'js/bootstrap_4.3.1.min.js' %}"></script>
    {% block extra_js_files %}{%  endblock %}
    {% block main_extra_js %} {% endblock %}
  </body>
</html>
